<%= form_for([@post, Comment.new], remote: true) do |f| %>
  <div class="field">
    <%= f.label :body, 'New Comment' %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit "Add Comment" %>
  </div>
<% end %>
