<div class='form-wrapper'>
  <%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-group">
    <%= f.label :title, class: "input-group-addon" %>
    <%= f.text_field :title, class: "form-control", placeholder: "Title of the post"%>
  </div>
  <%= f.label :body %><br>
  <%= f.text_area :body, class: "form-control", rows: "3" %>
  <div class="actions">
    <br><%= f.submit 'Send', class: "btn btn-primary" %>
  </div>
<% end %>
</div>