<div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Listing posts</div>

      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Body</th>
            <th colspan='3'>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= link_to post.title, post_path(post.id) %></td>
              <td><%= post.body %></td>
              <td>
                <%= link_to 'Show', post, class: 'btn btn-primary btn-xs' %>
                <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-success btn-xs' %>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
              </td>
              <td></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
<br>

<%= link_to 'New Post', new_post_path %>
