<p id="notice"><%= notice %></p>
<h1><%= @post.title %></h1>
<p>
  <%= @post.body %>
</p>
<h2>Comments</h2>
<div id='comments'>
<%= render partial: @post.comments.reverse %>
</div>
<h3>Add comment</h3>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
