// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-wrapper {
  max-width: 620px;
  margin: 0 auto;
}

.table .btn {
  margin-top: 2px;
  margin-bottom: 2px;
}