<!DOCTYPE html>
<html>
<head>
  <title>Coursera's Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <main>
    <%= render partial: 'shared/nav' %>
    <%= yield %>
    <%= render partial: 'shared/footer' %>
  </main>
</body>
</html>
